@import "tailwindcss";

.leaflet-routing-container {
  display: none !important;
<<<<<<< HEAD
}

.panel{
  display: flex;
  gap: 40px;
}

.transporte,
.info{
  display: flex;
  align-items: center;
  gap: 6px;
}

.columna{
  display: flex;
  flex-direction: column;
  gap: 8px;
=======
>>>>>>> 852a497fb5cd942312484dd75f726abfe8f9fe87
}